<%= render 'layouts/breadcrumb', steps: [
  { text: "Dasbboard", href: admin_dashboards_path() },
  { text: "Équipes", href: admin_teams_url },
  { text: @team.name },
  { text: 'Résidents' }
] %>

<div class="row">
  <h1 class="col-sm-8">
    Liste des <strong>Residents</strong> de l'équipe <strong><%= @team.name %></strong>
  </h1>

  <h1 class="col-sm-4">
    <%= link_to 'Ajouter un résident', new_admin_team_resident_path(@team), class: 'btn btn-primary pull-right' %>
  </h1>
</div>

<table class="<%= admin_table_class_names %>">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Admin</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.id %></td>
        <td><%= resident.email %></td>
        <td><%= resident.firstname %></td>
        <td><%= resident.lastname %></td>
        <td>
          <% if resident.admin? %>
            <%= icon(:'check-square-o') %>
          <% else %>
            <%= icon(:'square-o') %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_admin_team_resident_path(@team, resident), class: 'btn btn-primary' do %>
            <%= icon(:pencil) %>
          <% end %>

          <%= link_to admin_team_resident_path(@team, resident), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
            <%= icon(:trash) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

