<%= render 'layouts/breadcrumb', steps: [
  { text: "Dasbboard", href: admin_dashboards_path() },
  { text: "Équipes", href: admin_teams_path() },
  { text: @team.name },
  { text: 'Crédits' }
] %>
<h1><strong>Crédits</strong> de l'équipe <strong><%= @team.name %></strong></h1>
<div class="row">
  <div class="col-sm-6">
    <h2>Consommation des crédits</h2>
    <table class="<%= admin_table_class_names %>">
      <thead>
        <tr>
          <th>#</th>
          <th>Quantité</th>
          <th>Salle</th>
          <th>Résident</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% @time_account_lines.each do |time_account_line| %>
          <% next if time_account_line.new_record? %>
          <% half_hours_used = time_account_line.half_hours_used %>
          <tr class="<%= half_hours_used > 0 ? 'success' : 'danger' %>">
            <td><%= time_account_line.id %></td>
            <td>
              <%= icon(half_hours_used > 0 ? :'cart-plus' : :'cart-arrow-down') %>
              <%= half_hours_used %>
            </td>
            <td><%= Room.class_for_string(time_account_line.room_type).denomination %></td>
            <td><%= time_account_line.resident.fullname %></td>
            <td><%= I18n.l(time_account_line.created_at, format: :short_ymdhm) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <h2>Ajouter des crédits</h2>
    <%= render 'form', time_account_line: @time_account_line %>
  </div>
</div>
