<%= render 'layouts/breadcrumb', steps: [
  { text: "Dasbboard", href: admin_dashboards_path() },
  { text: "Équipes", href: admin_teams_path() },
  { text: @team.name },
  { text: 'Réservations' }
] %>
<h1>Liste des <strong>Réservations</strong> de l'équipe <strong><%= @team.name %></strong></h1>

<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Salle</th>
       <th>Résident</th>
      <th>Crédit gratuit consommé</th>
      <th>Crédit payant consommé</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr class="row-time-account-line-<%= reservation.class.name.downcase %>">
        <td><%= reservation.id %></td>
        <td><%= reservation.name %></td>
        <td><%= reservation.room.name %></td>
        <td><%= reservation.resident.fullname %></td>
        <td><%= reservation.free_half_hour_consumed %></td>
        <td><%= reservation.paid_half_hour_consumed %></td>

        <td><%= I18n.l(reservation.created_at, format: :short_ymdhm) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


