<%= render 'layouts/breadcrumb', steps: [
  { text: "Équipes", href: admin_teams_path() },
  { text: @team.name },
  { text: 'Réservations' }
] %>
<h1>Liste des <strong>Réservations</strong> de l'équipe <strong><%= @team.name %></strong></h1>

<div class="row">
  <div class="col-md-6">
    <%= render('layouts/datepicker', id: 'from_date', date: from_date, url_on_date_selected: dated_admin_team_reservations_path({team_id: @team.id}.merge(from_year: ':year', from_month: ':month', from_day: ':day', to_year: to_date.year, to_month: to_date.month, to_day: to_date.day))) %>
  </div>
  <div class="col-md-6">
    <%= render('layouts/datepicker', id: 'to_date', date: to_date, url_on_date_selected: dated_admin_team_reservations_path({team_id: @team.id}.merge(from_year: from_date.year, from_month: from_date.month, from_day: from_date.day, to_year: ':year', to_month: ':month', to_day: ':day'))) %>
  </div>
</div>

<table class="<%= admin_table_class_names %>">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Salle</th>
      <th>Résident</th>
      <th>Crédit gratuit consommé</th>
      <th>Crédit payant consommé</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr class="row-time-account-line-<%= reservation.class.name.downcase %>">
        <td><%= reservation.id %></td>
        <td><%= reservation.name %></td>
        <td><%= reservation.room.name %></td>
        <td><%= reservation.resident.fullname %></td>
        <td><%= reservation.free_half_hour_consumed %></td>
        <td><%= reservation.paid_half_hour_consumed %></td>

        <td><%= I18n.l(reservation.created_at, format: :short_ymdhm) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


