<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.title', room_name: reservation.room.name, day: reservation.starts_at.strftime('%Y-%m-%d'), hour: reservation.starts_at.strftime('%Hh%M')) %></h4>
  </div>

  <div class="panel-body">
    <%= form_for([:room, reservation], html: { role: "form" }) do |f| %>
      <% if reservation.errors.any? %>
        <div class="alert alert-danger">
          <p><%= t('.errors') %></p>
          <ul>
          <% reservation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :room_id, value: reservation.room_id %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= t('.from_starts_at') %> <%= f.datetime_select 'starts_at',minute_step: 30, start_hour: 8, end_hour: 20, datetime_separator: ''  %>

        <%= t('.to_ends_at') %> <%= f.datetime_select 'ends_at', minute_step: 30, start_hour: 8, end_hour: 20, datetime_separator: '', default: reservation.starts_at + 30.minutes %>
      </div>

      <%= f.submit t('.submit'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

