<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4>Réserver - <%= reservation.room.denomination %> le <%= reservation.starts_at.strftime('%Y-%m-%d') %> de <%= reservation.starts_at.strftime('%Hh%M') %></h4>
  </div>

  <div class="panel-body">
    <%= form_for(reservation, as: :reservation, url: room_reservations_path(room_id: reservation.room_id), html: { role: "form" }) do |f| %>


      <%= f.hidden_field :room_id, value: reservation.room_id %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        De <%= f.datetime_select 'starts_at', minute_step: 30, start_hour: 8, end_hour: 20, default: reservation.starts_at %>

        À <%= f.datetime_select 'ends_at', minute_step: 30, start_hour: 8, end_hour: 20, defautl: reservation.starts_at + 30.minutes %>
      </div>

      <%= f.submit "Réserver!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

