<%= render 'layouts/breadcrumb', steps: [ { text: t('.reservations_at'), href: dated_rooms_path(date_to_param(date)) },
                                          { text: room.denomination } ],
                                 datepicker: render('layouts/datepicker', id: 'datepicker', date: date, url_on_date_selected: room_calendars_path(room_slug: room.to_slug, year: ':year', month: ':month', day: ':day')) %>

<table class="table table-bordered table-cal <%= classname_for_room(params[:room_slug]) %> <%= classname_for_date(date) %> ">
  <colgroup>
    <col class="col-time">
    <% rooms.each do |room| %>
      <col class="col-room-<%= room.to_slug %>">
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th class="th-no-border"></th>
      <% rooms.each do |room, i| %>
        <th><%= room.name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% iterate_day(date, 30.minutes) do |half_hour_starts_at, half_hour_ends_at| %>
      <% full_hour = half_hour_starts_at.min == 0 %>
      <tr class="<%= full_hour ? 'tr-full-hour' : 'tr-half-hour' %> <%= half_hour_ends_at < Time.zone.now ? 'disabled' : '' %>">
        <td class="td-time">
          <% if full_hour %>
            <%= half_hour_starts_at.strftime('%H:%M') %>
          <% end %>
        </td>

        <% rooms.each.with_index do |room, i| %>
          <% reservation = room.reservations.find { |reservation| reservation.in?(half_hour_starts_at, half_hour_ends_at) } %>
          <% if reservation == nil %>
            <td class="td-open">
              <%= link_to t('.book', from: half_hour_starts_at.strftime('%H:%M'), to: half_hour_ends_at.strftime('%H:%M')), new_room_reservations_path({room_id: room.id}.merge(datetime_to_param(half_hour_starts_at))), class: 'block-opened block-hour-wrapper' %>
            </td>
          <% elsif !reservation.rendered? %>
            <%- reservation.mark_as_rendered %>
            <td class="td-reserved" rowspan="<%= reservation.half_hours_used %>">
              <div data-toggle="popover" data-title="<%= reservation.name %>" class='block-reserved' data-content-xhr-url="<%= room_reservation_path(room_id: room.id, id: reservation.id) %>">
                <p class="block-hour-wrapper">
                  <%= reservation.starts_at.strftime('%Hh%M') %> - <%= reservation.ends_at.strftime('%Hh%M') %>
                </p>
                <p class="block-reserved-name">
                  <%= reservation.name %>
                </p>
              </div>
            </td>
          <% else %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="popover"]').on('click', function(event) {
      var $target = $(event.currentTarget);

      if ($target.data('popover-visible') == true) {
        $target.popover('hide')
               .data('popover-visible', false)
      } else {
        var $targetIcon = $target.find('.fa').first()

        $targetIcon.removeClass('fa-info-circle')
                   .addClass('fa-spin fa-spinner')

        $.ajax({ method: 'GET', url: $(this).data('content-xhr-url') })
          .then(function(html) {
            $target.popover({ trigger: 'manual',
                              placement: 'auto',
                              content: html,
                              html: true})
                   .popover('show')
                   .data('popover-visible', true);
          })
          .fail(function(html) { /*TODO*/ })
          .always(function(html) {
            $targetIcon.removeClass('fa-spin fa-spinner')
                       .addClass('fa-info-circle')
          })
      }
    })
  })
</script>
