<%= render partial: 'layouts/datepicker', locals: {date: date, url_on_date_selected: room_calendars_path(slug_id: params[:room_slug], year: ':year', month: ':month', day: ':day') } %>

<table class="table table-bordered table-cal <%= classname_for_room(params[:room_slug]) %> <%= classname_for_date(date) %> ">
  <thead>
    <tr>
      <th></th>
      <% rooms.each.with_index do |room, i| %>
        <th><%= "#{room.name} - #{i}" %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% iterate_day(date, 30.minutes) do |half_hour_starts_at, half_hour_ends_at| %>
      <tr>
        <td class="td-time"><%= half_hour_starts_at.strftime('%H:%M') %></td>

        <% rooms.each.with_index do |room, i| %>
          <% resa = room.reservations.find { |reservation| reservation.in?(half_hour_starts_at, half_hour_ends_at) } %>
          <% if resa == nil %>
            <td class=""><%= link_to "+", new_room_reservations_path({room_id: room.id}.merge(datetime_to_param(half_hour_starts_at))) %> </td>
          <% elsif !resa.rendered? %>
            <td class="td-reserved" rowspan="<%= resa.half_hours_used %>">
              <%= resa.name %>
              <%- resa.mark_as_rendered %>
              <button class='btn btn-sm'
                      data-toggle="popover"
                      data-title="<%= resa.name %>"
                      data-content="hello">
                <%= icon('info-circle') %>
              </button>
            </td>
          <% else %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="popover"]').popover();
  })
</script>
