<%= form_for(resource, as: resource_name, url: resident_session_path(), html: { role: "form" , class: 'col-sm-6 col-sm-offset-3' }) do |f| %>
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4><%= t('.sign_in', :default => "Sign in") %></h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="checkbox">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %><%= t('activerecord.attributes.resident.remember_me') %>
        <% end %>
      </div>
    </div>
    <div class="panel-footer">
      <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary" %>
      <%= render "devise/shared/links", locals: {resource_name: resource_name} %>
    </div>
  </div>
<% end %>

