<%= render 'layouts/breadcrumb', steps: [{ text: t('.availablity_at') }],
                                 datepicker: render('layouts/datepicker', id: 'datepicker', date: date, url_on_date_selected: dated_rooms_path(year: ':year', month: ':month', day: ':day')) %>
<div class="row">
  <% Room.list.each.with_index do |room| %>
    <%
      free_seconds_available = current_resident.team.weekly_free_seconds_available(room, date)
      paid_seconds_available = current_resident.team.paid_seconds_available(room)
    %>
      <div class="col-lg-3 col-sm-6 col-xs-12 room-type" id="test-<%= room.name %>">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class='room-denomination'>
              <span class='test-room-denomination'><%= room.denomination %></span>
              <button class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#modal-to-pay">
                <%= I18n.t('rooms.index.links.pay_for_credits.text') %>
              </button>
            </h4>
            <p>
              <span class='room-seats'><%= t('.seats', count: room.seats) %></span>
              —
              <span class='room-cost-per-half-hour'><%= t('.cost_per_half_hour', count: room.cost_per_half_hour) %>
              </span>
            </p>
          </div>
          <div class="panel-body">
            <h5>Ma consommation :</h5>
            <%= block_progress_seconds(room, date, free_seconds_available, paid_seconds_available) %>

            <%= raw label_half_hours_available(free_seconds_available, :free) %>
            <%= raw label_half_hours_available(paid_seconds_available, :paid) %>
          </div>
          <div class="panel-footer">
            <p class="text-center">
            <%= link_to_pay_or_free_booking(room, date, free_seconds_available, paid_seconds_available) %>
            </p>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="modal fade" id="modal-to-pay" tabindex="-1" role="dialog" aria-labelledby="modal-to-pay">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('.modal.close') %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.modal.title') %></h4>
      </div>
      <div class="modal-body">
        <%= t('.modal.body', email: ENV['MAIL_TO_PAY'], tel: ENV['TEL_TO_PAY']) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>
