<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', admin_team_path(team) %></td>
        <td><%= link_to 'Edit', edit_admin_team_path(team) %></td>
        <td><%= link_to 'Destroy', admin_team_path(team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Residents', admin_team_residents_path(team) %></td>
        <td><%= link_to 'credits', admin_team_time_account_lines_path(team) %></td>
        <td><%= link_to 'Réservations', admin_team_reservations_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_admin_team_path %>
