<h1>Teams</h1>

<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>Équipe</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><span class="btn btn-link"><%= team.name %></span></td>
        <td>
          <%= link_to admin_team_residents_path(team),class: 'btn btn-primary' do %>
          <%= icon(:group) %>
          Residents
          <% end %>
        </td>
        <td>
          <%= link_to admin_team_time_account_lines_path(team),class: 'btn btn-primary' do %>
            <%= icon(:'shopping-cart') %>
            Crédits
          <% end %>
        </td>
        <td>
          <%= link_to admin_team_reservations_path(team), class: 'btn btn-primary' do %>
          <%= icon(:calendar) %>
          Réservations
          <% end %>
        </td>
        <td>
          <%= link_to admin_team_path(team), class: 'btn btn-primary' do %>
            <%= icon(:eye) %>
          <% end %>

          <%= link_to edit_admin_team_path(team), class: 'btn btn-primary' do %>
            <%= icon(:pencil) %>
          <% end %>

          <%= link_to admin_team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
            <%= icon(:trash) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_admin_team_path %>
