<div class="input-group input-group-lg">
  <span class="input-group-addon"><%= icon(:calendar) %></span>
  <input class="form-control"
          type="text"
          id='<%= id %>'
          data-provide='datepicker'
          data-date-format='dd-mm-yyyy'
          value="<%= date.strftime('%d-%m-%Y') %>" />
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var datePicker = new App.Datepicker($('#<%= id %>'), '<%= url_on_date_selected %>');
    datePicker.setup();
  })
</script>
