<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ResaParisLiberte</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# iphone touch icons %>
    <% %w(57 60 72 76 114 120 144 152 180).each do |size| %>
      <link rel="apple-touch-icon" sizes="<%= "#{size}x#{size}" %>" href="<%= asset_url("logo/apple-icon-#{size}x#{size}.png") %>">
    <% end %>

    <%# favico %>
    <% %w(16 32 96).each do |size| %>
      <link rel="icon" type="image/png" sizes="<%= "#{size}x#{size}" %>" href="<%= asset_url("logo/favicon-#{size}x#{size}.png") %>">
    <% end %>

    <%# android touch icons %>
    <link rel="icon" type="image/png" sizes="192x192" href="<%= asset_url("logo/android-icon-192x192.png") %>">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= render 'layouts/alert_and_notice' %>
    <%= render 'layouts/navbar' %>
    <div class="container"><%= yield %></div>
  </body>
</html>
